<!-- <div class="container">

      <div class="columns is-desktop is-centered level">
        <div class="column is-one-quarter">
            <h2 class="is-size-2 mb-4 ml-4">Sign Up</h2>
    
            
            <form>
    
         
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-success" type="text" placeholder="Name" [(ngModel)]="name" name="name">
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                  </div>
    
      
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-success" type="text" placeholder="Email" [(ngModel)]="email" name="email">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                </div>
    
             
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-success" type="password" placeholder="Password" [(ngModel)]="password" name="password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                </div>
    
                
                 <div class="field">
                    <label class="label">Company Name</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-success" type="text" placeholder="Company Name" [(ngModel)]="corpName" name="corpName">
                      <span class="icon is-small is-left">
                        <i class="fas fa-building"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                </div>
    
               
                <div class="field is-grouped mt-5">
                    <div class="control">
                      <button class="button is-primary" (click)="onSignup()" [ngClass]="loading ? 'is-loading disabled': ''">
                        Sign Up
                      </button>
                    </div>
                    <div class="control">
                      <button class="button is-danger">Cancel</button>
                    </div>
                  </div>
    
            </form>
        </div>
    </div>
    </div> -->


    <div class="font-sans">
      <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
          <div class="relative sm:max-w-sm w-full">
              <div class="card bg-uniblue-100 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
              <div class="card bg-unipink-100 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
              <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                  <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">
                      SIGN-UP
                  </label>
                  <form class="mt-10">
                                      
                      <div>
                          <input type="text" placeholder="Name" name="name" [(ngModel)]="name" class="pl-4 mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                      </div>
          
                      <div class="mt-7">                
                          <input type="email" placeholder="Email" name="email" [(ngModel)]="email" class="pl-4 mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                      </div>
  
                      <div class="mt-7">                
                          <input type="password" placeholder="Password" name="password" [(ngModel)]="password" class="pl-4 mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                      </div>
  
                      <div class="mt-7">                
                          <input type="text" placeholder="Company name" name="companyName" [(ngModel)]="corpName" class="pl-4 mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                      </div>
  
                      
          
                      <div class="mt-7">
                          <button (click)="onSignup()" class="bg-uniblue-100 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105 animate-spin">
                            <!-- <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-7 w-7"></div> -->
                            SignUp
                          </button>
                      </div>
          
                      <div class="flex mt-7 items-center text-center">
                          <hr class="border-gray-300 border-1 w-full rounded-md">
                          <label class="block font-medium text-sm text-gray-600 w-full">
                             OR
                          </label>
                          <hr class="border-gray-300 border-1 w-full rounded-md">
                      </div>
          
                      <!-- <div class="flex mt-7 justify-center w-full">
                          <button class="mr-5 bg-blue-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                              
                              Facebook
                          </button>
          
                          <button class="bg-red-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                              
                              Google
                          </button>
                      </div> -->
          
                      <div class="mt-7">
                          <div class="flex justify-center items-center">
                              <label class="mr-2" >Already have an Account?</label>
                              <a href="/login" class="text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                  Login
                              </a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>